
.title{
    font-size:24px;
}
#prof{
    width:272px;
    height:375px;
    border-radius: 10rem !important;
}

 .card > img {
   width:150px;
   height:150px;
   margin:1rem auto;
   border-radius:50%;
} 

.btn-outline-dark{
    font-size:18px !important;
    text-decoration:none;
    color:#2f2f2f;
}

#prof-details{
    margin:2rem 0;
    min-width:300px;
    height:auto;
    border-radius: 2rem !important;
}

#pills-tab{
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:space-between;
    align-items:center;
    margin:2rem auto;
}

#pills-tech-tab,#pills-non-tech-tab, #pills-bot-tab{
    border-radius:2rem;
    font-size:14px;
    padding:8px 10px;

}

#pills-workshop-tab,#pills-pps-tab, #pills-flag-tab{
    border-radius:2rem;
    font-size:14px;
    padding:8px 10px;
    margin:0 5px;
}

.nav-pills .nav-link.active, .nav-pills>.nav-link{
    background-color:#2f2f2f !important;
}
.label{
    font-size:16px;
    font-weight:medium;
}
 #reg-events{
    height: auto;
}




/* profile card CSS*/

/* root should be given, otherwise profile pic colour won't match */
:root {
    --clr:rgb(218, 206, 206);
  }

hr{
    width:90%;
    text-align:left;
    margin-left:0"
}
.card1 {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
  
  .card .box1 {
    position: relative;
    height: 200px;
    width: 315px;
    background: #2f2f2f;
    border-radius: 15px;
  }
  
  .card .circle1 {
    position: absolute;
    top: 50%;
    left: -69px;
    transform: translateY(-50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid var(--clr);
  }
  
  .card .circle1 .imgBx1{
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 70%;
  }
  
  .card .circle1 .imgBx1 img
   {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .box1 .imgBx1 video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .box1 .content1 {
    position: absolute;
    inset: 0;
    padding: 30px 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  #col1card{
         background-color: rgb(218, 206, 206); 
         width: 320px; 
         height: 490px;
         margin-left: auto;
         margin-right: auto;
         }
 .vid{
     width: 288px;
     height: 208px;
 }
 #editlogoutcard{
     /* height: 290px; */
     font-size: larger;
 }

 @media only screen and (max-width: 600px) {
  .title{
      font-size:16px;
      font-weight:medium;
  }
} 

@media only screen and (max-width: 1024px) {
  .card .circle1 {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 127px;
    height: 130px;        border-radius: 50%;
    border: 10px solid var(--clr);
  }   
}
  /*media query */
/*   

  
  @media screen and (max-width: 1025px) {
      .card1 .box1 {
        width: 26vw;
        height: 45%;
      }
    }
    @media screen and (max-width: 991px) {
  
      .card1 {
          padding-left: 123px ; 
          
      }
      .card1 .box1 {
          width: 50vw;
          height: 100%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: 46px;
          transform: translateY(-50%);
          width: 180px;
          height: 180px;        border-radius: 50%;
          border: 10px solid var(--clr);
        }   
    }
    @media screen and (max-width: 769px) {
  
      .card1 {
          padding-left: 10% ; 
          
      }
      .card1 .box1 {
          width: 145%;
          height: 110%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: -15%;
          transform: translateY(-50%);
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 10px solid var(--clr);
        }  
    }
    @media screen and (max-width: 762px) {
  
      .card1 {
          padding-left: 5% ; 
          
      }
      .card1 .box1 {
          width: 128%;
          height: 200%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 10px solid var(--clr);
        }
  
      
    }
    @media screen and (max-width: 470px) {
  
      .card1 {
          padding-left: 5% ; 
          padding-right: 8%;
          
      }
      .card1 .box1 {
          width: 125%;
          height: 200%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 10px solid var(--clr);
        }
  
      
    }
    @media screen and (max-width: 423px) {
  
      .card1 {
          padding-left: 5% ; 
          
          
      }
      .card1 .box1 {
          width: 120%;
          height: 200%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 10px solid var(--clr);
        }
  
      
    }
    @media screen and (max-width: 376px) {
  
      .card1 {
          padding-left: 5% ; 
          
          
      }
      .card1 .box1 {
          width: 108%;
          height: 90%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          width: 140px;
          height: 140px;
          border-radius: 50%;
          border: 10px solid var(--clr);
        }
  
      
    }
  
    @media screen and (max-width: 323px) {
  
      .card1 { 
          width: 262px;
         
      }
      .card1 .box1 {
          width: 250px;
          height: 95%;
        }
      .card1 .circle1 {
          position: absolute;
          top: 50%;
          left: -85px;
          transform: translateY(-50%);
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 10px solid var(--clr);
        }
  
      
    } */